{{!< default}}
<script type="text/javascript" src="{{asset "js/uploadfile.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery_form.js"}}"></script>

<style>
    .delete_btn {
        margin-bottom: 0rem;
        padding: 0.6rem 2rem;
        font-size: 1.2rem;
        color: #fff;
        background-color: #ea6f5a;
        border-radius: 4px;
        display: inline-block;
        margin-left: 1rem;
    }

    [class*="btn"] {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 2px;
    }

    [class*="btn"]:hover {
        background-color: #c83323;
    }

    .delete_btn:hover {
        color: rgb(255, 255, 255)
    }

    .out {
        padding: 3rem;
        max-width: 710px;
        border-bottom: none;
        position: relative;
        background-color: white;
        margin: 0 auto;
    }

    .top {
        margin-left: 1rem;
    }

    li {
        text-align: -webkit-match-parent;
        display: list-item;
    }


    .fav_list_box {
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        zoom: 1;
    }

    .fav_list_title {
        height: 90px;
        line-height: 90px;
        /*border-bottom: 1px solid #e0e0e0;*/
        display: block;
    }

    .fav_list_title_h3 {
        display: inline;
    }

    .fav_num {
        font-size: 14px;
        color: #4d4d4d;
        float: right;
    }

    .my_fav_con {
        display: block;
    }

    .my_fav_list {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        border: 0;
        display: block;
        overflow: hidden;
        zoom: 1;
    }

    .my_fav_list_li {
        padding: 0.8rem 0;
        border-top: 1px solid #e0e0e0;
        list-style: none;
    }

    .my_fav_list_a {
        width: 60%;
        line-height: 24px;
        font-size: 16px;
        vertical-align: middle;
        color: #4d4d4d;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .my_fav_list_label {
        margin-left: 10%;
        font-size: 16px;
        vertical-align: middle;
        display: contents;
    }

    .my_fav_list_label span {
        color: #ccc;
        margin-right: 15px;
        vertical-align: middle;
        display: contents;
        font-size: 1rem;
    }

    .cancel_fav {
        font-style: normal;
        color: #999;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
    }

    .my_fav_list_a:hover {
        color: red;
    }

</style>


<script>
    $(function () {
        $(".delete_btn").click(function (doc) {
            $.post({
                url: "/extra_api",
                data: {
                    a: "delete_file",
                    fileId: this.parentNode.id
                },
                success: function (data, status) {

                    if (!data.code) {
                        window.location.reload();
                    } else {
                        console.log(JSON.stringify(data.error));
                        alert("删除文件错误");
                    }
                }
            })
        });
    });
</script>
{{>single_page_head page_title="小云盘" page_subtitle="文件列表"}}

<div class="out">
    <div class="fav_list">
        <div data-v-357a65ed="" class="fav_list_box">
            <div class="fav_list_title">
                <h3 class="fav_list_title_h3">我的文件</h3>
                <div class="fav_num">
                    共<span>{{fileCount}}</span>个
                </div>
            </div>
            <div class="my_fav_con">
                <div>
                    <ul class="my_fav_list">
                        {{#files}}
                            <li class="my_fav_list_li" id="{{fileId}}">
                                <a class="my_fav_list_a" href="{{filePath}}">
                                    {{fileName}}
                                </a>
                                <label class="my_fav_list_label">
                                    <span class="time">{{uploadTime}}</span>
                                    <a class="delete_btn"><em>删除</em></a>
                                </label>
                            </li>
                        {{/files}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

