{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}	
 <link rel="stylesheet" type="text/css" href="{{asset "css/post_back_edit.css"}}" />
 <link rel="stylesheet" type="text/css" href="{{asset "css/head_author.css"}}" />
 <link rel="stylesheet" type="text/css" href="{{asset "css/post_bottom.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/comment_send.css"}}" />
   <link rel="stylesheet" type="text/css" href="{{asset "css/commentStyle.css"}}" />

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img id="back_img" src="/back.png" alt="{{@blog.title}}" /><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}  
            <a class="menu-button icon-menu" href="#"><span class="word">主页</span></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}" id="{{id}}">

        <header class="post-header">
           
            <h1 class="post-title">{{title}}</h1>
			{{> "head_author"}}
        </header>

        <section class="post-content">
            {{content}}
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
		<div class="end_tag">
		{{tags separator=" "}}
		</div>
		
        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
	
        {{#author}}
            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}
			{{>"post_bottom_author"}} 
          
		
        {{/author}}
			{{>"post_bottom_like"}} 

        </footer>

    </article>
	<div id="comment_group" class="post_bottom_comment">

</div>

	{{>"comment_send"}}
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
<script type="text/javascript" src="{{asset "js/post_tag.js"}}"></script>
<script type="text/javascript" src="{{asset "js/post_about.js"}}"></script>
<script type="text/javascript" src="{{asset "js/baidu_share.js"}}"></script>

